@font-face {
    font-family: "regular";
    src: url(fonts/regular.ttf) format("truetype");
}

@font-face {
    font-family: "bold";
    src: url(fonts/bold.ttf) format("truetype");
}

body {
    color: #768390;
    background: #FFF;
    font-family: "regular", Helvetica, sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3D4351;
    margin-top: 0;
}

a {
    color: #FF6B6B;
}

a:hover {
    color: #ff9a9a;
    text-decoration-style: solid;
}

.example-header {
    background: #3D4351;
    color: #FFF;
    font-family: "regular", Helvetica, sans-serif;
    padding: 2em 1em;
    text-align: center;
}

.example-header h1 {
    color: #FFF;
    font-family: "regular", Helvetica, sans-serif;
    margin-bottom: 0px;
}

.example-header p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "bold", Helvetica, sans-serif;
}

.container-fluid .row {
    padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
    background: #F1F4F5;
}

.example-title {
    text-align: center;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
}

.example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
}



/*==================================
    TIMELINE
==================================*/


/*-- GENERAL STYLES
------------------------------*/

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    line-height: inherit;
}



/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}



/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 12px;
    font-family: "bold", Helvetica, sans-serif;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}



/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    font-family: FontAwesome;
    top: 4px;
    bottom: 4px;
    font-size: 20px;
    color: #FF6B6B;
}

.timeline-marker:before {
    color: #FF6B6B;
    content: "\f111";
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;

    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease-out;
}

.timeline-marker-star:before {
    content: "\f005";
}

.timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 8px;
    opacity: 1;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease-out;
}



/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;
}

.timeline-content p:last-child {
    margin-bottom: 0;
}



/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
}

.period .timeline-info {
    display: none;
}

.period .timeline-marker:before {
    content: "\f111";
    font-family: FontAwesome;
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
}

.period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}

.period .timeline-content {
    padding: 40px 0 70px;
}

.period .timeline-title {
    margin: 0;
}



/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/

@media (min-width: 768px) {
    .timeline-split .timeline,
    .timeline-centered .timeline {
        display: table;
    }
    .timeline-split .timeline-item,
    .timeline-centered .timeline-item {
        display: table-row;
        padding: 0;
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
        display: table-cell;
        vertical-align: top;
    }
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker {
        position: relative;
    }
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content {
        padding-left: 30px;
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info {
        padding-right: 30px;
    }
    .timeline-split .period .timeline-title,
    .timeline-centered .period .timeline-title {
        position: relative;
        left: -45px;
    }
}



/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/

@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
    }
    .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
        width: 50%;
    }
    .timeline-centered>.timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered>.timeline-item:nth-child(odd) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered>.timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered>.timeline-item:nth-child(even) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered>.timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .timeline-centered .timeline-item.period {
        padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    .timeline-centered .period .timeline-title {
        left: auto;
    }
}



/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline .timeline-marker:before {
    background: transparent;
    color: #FF6B6B;
    content: "\f111";
    font-family: FontAwesome;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    color: #FF6B6B;
    content: "\f111";
    font-family: FontAwesome;
}